:root{
--home-button-image: url('https://i.pinimg.com/564x/05/78/01/0578014576b782b4e50450a2ea562180.jpg');
 --header-primary: #accee6;
  --header-secondary: #fffbfb;
  --text-normal: #fff;
  --text-default: #ddd;
  --text-muted: #aaa;
  --text-link: #466977;
  --channels-default: #ddd;
  --interactive-normal: #bbb;
  --interactive-hover: #eee;
  --interactive-active: #fff;
  --interactive-muted: #777;
  --background-primary:rgba(75, 61, 92, 0.082);
  --background-secondary: rgba(75, 42, 97, 0.116);
  --background-secondary-alt: rgba(0, 0, 0, 0.116);
  --background-tertiary: rgba(26, 33, 51, 0.116);
  --background-accent: rgba(63, 35, 68, 0.034);
  --background-floating: white;
  --background-mobile-primary: #495c86;
  --background-mobile-secondary: #293144;
  --background-modifier-hover: rgba(122, 91, 206, 0.05);
  --background-modifier-active: rgba(115, 94, 172, 0.07);
  --background-modifier-selected: rgba(2, 2, 2, 0.1);
  --background-modifier-accent: rgb(255, 255, 255, 0.1);
  --background-mentioned: rgba(121, 92, 224, 0.308);
  --background-mentioned-hover: rgba(227, 172, 248, 0.075);
  --background-message-hover: rgba(48, 68, 97, 0.404);
  --elevation-stroke: 0 0 0 1px rgb(4, 4, 5, 0.15);
  --elevation-low: 0 1px 0 rgb(4, 4, 5, 0.2), 0 1.5px 0 rgb(6, 6, 7, 0.05), 0 2px 0 rgb(4, 4, 5, 0.05);
  --elevation-medium: 0 4px 4px rgba(124, 73, 73, 0.16);
  --elevation-high: 0 8px 16px rgb(0, 0, 0, 0.24);
  --logo-primary: #a780da;
  --guild-header-text-shadow: 0 1px 1px rgb(0, 0, 0, 0.4);
  --channeltextarea-background: rgba(255, 255, 255, 0);
  --activity-card-background: #3c495c;
  --textbox-markdown-syntax: #8e9297;
  --deprecated-card-bg: rgba(92, 36, 36, 0.3);
  --deprecated-card-editable-bg: rgb(0, 0, 0, 0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: var(--channeltextarea-background);
  --deprecated-quickswitcher-input-placeholder: rgb(255, 255, 255, 0.5);
  --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
  --deprecated-text-input-border: rgba(126, 68, 68, 0.3);
  --deprecated-text-input-border-hover: #393975;
  --deprecated-text-input-border-disabled: #5d6b80;
  --deprecated-text-input-prefix: #316191;
  --primary-660:#63799200;
  --profile-gradient-overlay-color:#fff;
  --primary-800:#657b9448;
  --primary-500:#657b9448;
  --primary-330:#657b9448;
  --white-500-hsl:#657b9448;
  --primary-700:#83bae759;
  --primary-500-hsl:#657b9448;
  --background-floating:#8fb7eb52;
  --white-500:#fff7f7;
}
.sidebarRegion_c25c6d{
    background-color: rgba(123, 83, 160, 0.418);
}
.container_c2739c > .themed_fc4f04{
    background-color: rgba(123, 83, 160, 0.418);
    
}
.sidebar_c25c6d{
    border-left: 1px solid rgb(218, 137, 243);
    background-color: rgba(59, 35, 58, 0.418);
}
.contentColumn_c25c6d{
    maring-right: 450px;
    width: 800px;
    border-right: 1px solid rgb(218, 137, 243);
    background-color: rgba(59, 35, 58, 0.418);
}
.contentRegion_c25c6d{
    background-color: rgba(123, 83, 160, 0.418);
}
.channelBottomBarArea_a7d72e{
    width: 102%;
}
.toolsContainer_c25c6d{
    margin-left: -50px;
}
.buttons_bdf0de{
    background-color: #232a41;
    border: 2px solid rgb(210, 173, 218);
    border-radius: 10px;
    margin-left: 5px;
    height: inherit;
    transition: 0.1s ease-in;
    overflow: hidden;
    width: 20.2%;
}
.buttons_bdf0de:hover{
    background-color: rgb(141, 116, 146);
    transition: 0.1s ease-in;
}
.button_df39bd{
    display: none;
}
.form_a7d72e{
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.247);
    border-radius: 15px 15px 0px 0px;
    padding-top: 10px;
    border-bottom: 5px solid;
    margin-left: 10px;
    border-image: linear-gradient(90deg, #ff6a00, #ee0979, #1e90ff, #00ff6a) 1;
    margin-right: 10px;
    animation: borderAnimation 5s linear infinite;
}

@keyframes borderAnimation {
      0% {
        border-image-source: linear-gradient(0deg, #ff6a00, #ee0979, #1e90ff, #00ff6a);
      }
      10% {
        border-image-source: linear-gradient(120deg, #ff6a00, #ee0979, #1e90ff, #00ff6a);
      }
      30%{
        border-image-source: linear-gradient(200deg, #ff6a00, #ee0979, #1e90ff, #00ff6a);
      }
      50%{
        border-image-source: linear-gradient(120deg, #ff6a00, #ee0979, #1e90ff, #00ff6a);
      }
      100%{
        border-image-source: linear-gradient(0deg, #ff6a00, #ee0979, #1e90ff, #00ff6a);
      }
}
.appAsidePanelWrapper__5e6e2{
    background-image: url(https://forum.neverlose.cc/uploads/default/original/2X/1/1e41d9a36cde3b626535fa904e70667c819b69be.jpeg);
    background-position: center;
}
.appAsidePanelWrapper__5e6e2{
    padding: 10px 10px 10px 10px;
}
.textArea_bdf0de{
    background-color: #1e2538;
    border: 2px solid white;
    border-radius: 10px;
    width: 75%;
    transition: 0.2s ease-in;
}
.textArea_bdf0de:hover{
    background-color: #1e2538b7;
    border: 2px solid rgb(250, 209, 247);
    border-radius: 10px;
    transition: 0.1s ease-in;
    z-index: 2000;
}
.markup_f8f345{
    padding-left: 10px;
    margin-top: -2px;
}
.menu_ec5137{
    background-color: rgb(49, 56, 70);
    border: 1px solid white;
}
.sidebar_a4d4d9,  .container_fc4f04{
    border: 2px solid rgb(170, 142, 235);
}
.inner_c69a7b, .panel_c69a7b {
    border: 1px solid rgb(140, 141, 224);
}

.optionName_ec5137{
    color: rgb(255, 255, 255);
}
.placeholder_a552a6{
    margin-top: -1px;
    text-align: center;
}
.kappa{
    background-color: #000000;
    border-radius: 10px;
}
.channelTextArea_bdf0de{
    background: rgba(0, 0, 0, 0);
    margin: 0px;
    padding: 0px;
}
.guildsWrapper-5TJh6A .guildSeparator-3s7eDq + div {
    background-image: url("https://avatars.githubusercontent.com/u/64214782?s=200&v=4");
    background-size: cover;
    background-position: center;
}
#app-mount .guilds__2b93a .tutorialContainer_b06ae6 .wrapper__8436d::before {
  content: "";
  border-radius: 30%;
  position: absolute;
  background: var(--home-button-image, url("https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/assets/discord.svg"));
  background-size: var(--home-button-size, cover);
  background-position: var(--home-button-position, center);
  background-repeat: var(--home-button-repeat, no-repeat);
  height: 100%;
  width: 100%;
}
.container_d1f8f5, .app_de4237, .bg__12180{
    border-radius: 15px;
}
.platform-win .bg__12180 {
    top: 0px;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.typeWindows_e41dab {
    background:linear-gradient(270deg, #000000, #252e47, #1d2b49, #112e3b);
     background-size: 800% 800%;
    animation: gradient-animation 5s ease infinite;
}
.buttons_bdf0de :nth-child(4){
    display:none;
}
.chatContent_f087cb, .privateChannels__9b518{
    backdrop-filter: blur(6px);
    border-radius: 5px;
}
.overlayBackground__345c9{
    background-color: #0c132546;
    transition: 0.5s ease;
    display: flex;
    padding: 20px 20px 50px 20px;
    height: 650px;
    backdrop-filter: blur(6px);
}
.overlayBackground__345c9:hover{
    background-color: #2d427046;
    margin-left: 7px;
    margin-right: 7px;
    transition: 0.5s ease;
    padding: 20px 20px 50px 20px;
    height: 650px;
}
.theme-dark ::-webkit-scrollbar, .theme-light ::-webkit-scrollbar {
    width: 7px; 
}

.theme-dark ::-webkit-scrollbar-thumb, .theme-light ::-webkit-scrollbar-thumb {
    background: #7289DA; 
    border-radius: 10px; 
    border: 2px solid #efa2f1; 
}

.theme-dark ::-webkit-scrollbar-thumb:hover, .theme-light ::-webkit-scrollbar-thumb:hover {
    background: #5A6CB2; 
}
.badgelistGroup__8f7c7{
    background: #c1b7e600;
}
.badgeList__76720 ,.containerWithContent_a67357, .container_ed2af4{
    background-color: #979fec65;
}
.profilePanel_e2cafe{
    background-color: rgba(4, 11, 44, 0.342);
}
.theme-dark .themed_b152d4{
    background-color: rgba(108, 159, 236, 0.11);
}
.tabBar__73938 .addFriend__4c0a2.addFriend__4c0a2.addFriend__4c0a2 {
    background-color: rgba(130, 193, 252, 0.384);
}
.pageWrapper__18871 {
    background-color: #00000028;
}
.theme-dark .themed_b152d4 {
    background-color: #00000042;
}
.contents__322f4{
    color: white;
}
.tabBar__73938 .badge_d35eba{
 color:white;
}

.attachButton_bdf0de{
    border: 2px solid rgb(182, 174, 253);
    z-index: 1000;
    margin-right: 5px ;
    border-radius: 7px;
    transition: 0.1s ease-in;
    background-color: #202947;
}
.attachButton_bdf0de:hover{
    border: 2px solid rgb(177, 177, 177);
    transition: 0.1s ease-in;
    z-index: 1000;
    margin-right: 5px ;
    border-radius: 7px;
    background-color: #988ca7;
}
.sansAttachButton_bdf0de{
    border-left: 1px solid black;
    border-radius: 6px;
}
.emptyStateContainer__7a1d7{
 backdrop-filter: blur(6px);
}
.message_ccca67 {
    margin: 10px 10px;
    background-color: #b6abf513;
    border-radius: 15px;
}
.message_ccca67 > span{
    padding: 10px;
}
.cozy_f5c119.wrapper_a62503 {
    padding-top: 7px;
    padding-bottom: 7px;
}
.colorDefault_e361cf{
    color: rgb(218, 198, 245);
}
.avatarStack__789b4{
    background-color: rgba(255, 255, 255, 0);
}
.grid__35551{
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 10px;
    border: 1px solid black;
}
.avatar__08316 {
    height: 43px;
    width: 43px;
}
.wrapper__6bf2d.minimum__7f356 .callContainer__1477d {
    background-color: rgba(104, 46, 91, 0.288);
}
.contents__322f4, giftButton__890d6 {
    color: black;
}
.lottieIcon_c7076c, .contents__322f4, .buttonWrapper_bd4bd7{
    color: white;
}
.contentWrapper_e0bb2c{
    background-color: rgba(205, 204, 255, 0.349);
}
.
